.navbar, .social{
    position: fixed;
    z-index: 100;
}
.navbar{
    top: 0;
    left: 0;
    width: 100%;
}
.social{
    bottom: 0;
    left: 0;
}
.social-liste{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    padding: 10px 10px;
}
.line{
    width: 1px;
    height: 100px;
    margin-bottom: 10px;
}
.navbar-liste{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 10px 30px;
}
.link{
    cursor: pointer;
    transition: color 0.2s ease-in;
}
.link:hover{
    transition: color 0.2s ease-in;

}
